@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight: 500;
}

.belittle-text{
    font-size: 14px;
}

.center-conteiner{
    margin: 0 auto;
}

.cc-medium{
    width: 85%;
}

.cc-small{
    width: 70%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* Inizio stile header */

header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 0%;
    left: 0%;
    padding: 0px 30px;
    border-bottom: 1px solid lightgray;
}

/* Probabilmente la scritta non era un img, la vertical-aling in px 
varia secondo quella del font size */

header .logo img{
    width: 100%;
    vertical-align: -5px;
}

#header-left, #header-right{
    width: 50%;
}

#header-left{
    float: left;
}

#header-right{
    float: right;
    text-align: end;
}

#header-left > *,
#header-right > *{
    display: inline-block;
}

header nav > ul > li{
    display: inline-block;
    position: relative;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
}

/* Prova di un sotto menù, issue note se il contenuto
 eccede la grandezza dello schermo non è visibile  */

#prova-sotto-menu{
    position: absolute;
    left: 0;
    top: 100%;
    width: max-content;
    display: none;
    text-align: left;
}

header nav ul li a:hover{
    /* border-bottom: 2px solid black; */
    text-decoration: underline;
}

header nav ul li:hover #prova-sotto-menu{
    display: block;
    background-color: white;
    padding: 50px;
    box-shadow: 0px 4px 4px 0px black;
}

/* Esiste un metodo per selezionare questa cosa??!?!? bah */
/* header nav ul li:hover "allora seleziona" main{
    fill-opacity: 0.7;
} */

#header-left .logo,
#header-left nav > ul > li{
    padding-right: 40px;
}

#header-right div,
#header-right nav > ul > li{
    padding-left: 40px;
}

/* Fine stile header */

/* Inizio stile bottoni */

.button{
    text-decoration: none;
}

.button:hover{
    box-shadow: 0px 6px 6px 0px black;
}

.btn-color-1{
    background-color: #0061ff;
    color: white;
}

.btn-color-1:hover{
    background-color: #2679ff;
}

.btn-color-2{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.btn-padding-1{
    padding: 5px 20px;
}

.btn-padding-2{
    padding: 8px 20px;
}

/* Fine stile bottoni */

main{
    margin-top: 80px;
}

/* Inizio stile banner */

#banner{
    background-color: #b4d0e7;
    margin-bottom: 150px;
}

#banner h1{
    font-size: 90px;
}

#banner .jumbo-translate{
    transform: translate(0px, 80px);
}

#banner .jumbo-text{
    width: 30%;
    float: left;
}

#banner .jumbo-text p{
    margin-bottom: 30px;
}

#banner p.belittle-text{
    margin-top: 10px;
}

#banner .jumbo-text > a{
    color: black;
    font-size: 50px;
}

#banner .jumbo-img{
    width: 70%;
    float: left;
}

#banner .jumbo-img img{
    width: 100%;
}

/* Fine stile banner */

/* Inizio stile piani tariffari */

#tarrif-plan{
    margin-bottom: 150px;
}

#tarrif-plan div.center-conteiner > *,
#tarrif-plan .plan-conteiner .float-plan-conteiner{
    margin-bottom: 40px;
}

#tarrif-plan h2{
    font-size: 40px;
}

#tarrif-plan .plan-radio label{
    margin-right: 10px;
}

#tarrif-plan .plan-conteiner .plan-box{
    border: 1px solid lightgray;
}

#tarrif-plan .plan-conteiner .float-plan-conteiner .plan-box{
    float: left;
    width: 30%;
    height: 1000px;
}

#tarrif-plan .plan-conteiner .float-plan-conteiner .plan-box:nth-child(2){
    margin: 0% 5%;
}

#tarrif-plan .plan-conteiner .plan-box > div:nth-child(1n +2){
    padding: 0px 30px;
    margin-bottom: 40px;
}

#tarrif-plan .plan-conteiner .plan-box .plan-type{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
    margin-bottom: 30px;
}

/* Ricentratura icone */

#tarrif-plan .plan-conteiner .plan-box i{
    margin-left: -18px;
}

#tarrif-plan .plan-conteiner .plan-box div.plan-features{
    padding-left: 48px;  
}

#tarrif-plan .plan-conteiner .plan-box .plan-highlights ul{
    padding-left: 18px;
}

/* Fine ricentratura icone */

#tarrif-plan .plan-conteiner h3{
    font-size: 25px;
    margin-bottom: 20px;
}

#tarrif-plan .plan-conteiner h4{
    margin-bottom: 10px;
    font-weight: 700;
}

#tarrif-plan .plan-conteiner h5{
    color: gray;
    font-weight: 600;
}

#tarrif-plan .plan-conteiner .plan-features p{
    margin-bottom: 20px;
}

#tarrif-plan .plan-conteiner .plan-link > *{
    margin-bottom: 20px;
}

#tarrif-plan .plan-conteiner .plan-link .button{
    display: block;
    text-align: center;
}

#tarrif-plan .plan-conteiner .plan-link p a{
    color: #0061ff;
}

#tarrif-plan .plan-conteiner .plan-link p a:hover{
    text-decoration-color: #8cb8ff;
}

#tarrif-plan .plan-conteiner .plan-highlights h4{
    margin-bottom: 20px;
}

#tarrif-plan .plan-conteiner .plan-highlights ul{
    list-style-type: none;
}

#tarrif-plan .plan-conteiner .plan-highlights ul li{
    margin-bottom: 20px;
}

#tarrif-plan .plan-conteiner .plan-highlights ul li i{
    color: #0061ff;
}

#tarrif-plan .plan-conteiner .footer-plan .plan-box .clearfix > div{
    float: left
}

#tarrif-plan .plan-conteiner .footer-plan .plan-box .plan-main-info{
    width: 70%;
}

#tarrif-plan .plan-conteiner .footer-plan .plan-box .plan-link{
    width: 30%;
}

/* Rivedere margin di p dentro dentro footer plan */

/* Fine stile piani tariffari */

.separation-line{
    width: 20%;
    border-bottom: 1px solid lightgray;
}

/* Inizio stile find-partner */

#find-partner{
    margin-bottom: 150px;
}

#find-partner .clearfix > div:first-child{
    float: left;
    width: 55%;
}

#find-partner .clearfix > div:last-child{
    float: right;
    width: 45%;
    padding-top: 30px;
    padding-left: 50px;
}

#find-partner .clearfix div img{
    width: 100%;
}

#find-partner .clearfix div h3{
    font-size: 25px;
    margin-bottom: 30px;
}

#find-partner .clearfix div p{
    line-height: 30px;
    margin-bottom: 30px;
}

#find-partner .clearfix div .button{
    display: inline-block;
}

/* Fine stile find-partner */

/* Inizio stile dropbox-features */

#dropbox-features{
    margin-bottom: 150px;
} 

#dropbox-features .features-box{
    float: left;
    width: 30%;
}

#dropbox-features .features-box:nth-child(3n +2){
    margin: 0% 5%;
}

#dropbox-features .features-box img{
    width: 100%;
}

#dropbox-features h2{
    font-size: 40px;
    margin-bottom: 40px;
}

#dropbox-features .features-box{
    margin-bottom: 40px;
}

#dropbox-features .features-box h3{
    font-size: 25px;
    margin-bottom: 30px;
}

#dropbox-features .features-box p span{
    text-decoration: underline;
    text-decoration-color: gray;
}

/* Fine stile dropbox-features */

/* Inizio stile company*/

#company{
    margin-bottom: 150px;
}

#company .company-title{
    width: 55%;
    margin-bottom: 40px;
}

#company .company-title h2{
    font-size: 40px;
    margin-bottom: 40px;    
}

#company .company-title a{
    color: #0061ff;
}

#company .company-title a:hover{
    text-decoration-color: #8cb8ff;
}

#company .bgc-company-text{
    background-color: #f5f5f5;
}

#company .company-box,
#company .company-text{
    float: left;
}

#company .company-box{
    width: 30%;
}

#company .company-text{
    width: 40%;
    background-color: #f5f5f5;
}

#company .company-box .company-logo{
    width: 50%;
    float: left;
}

#company .company-box .company-logo .logo-dimension{
    width: 100%;
    padding-top: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#company .company-box .company-logo img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    filter: invert(1);
}

#company .company-text .text-dimension{
    width: 100%;
    padding-top: 75%;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
}

#company .company-text .text-dimension .comp-txt-center{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
}

#company .company-text .text-dimension .comp-txt-center > *{
    margin-bottom: 30px;
}

#company .company-text img{
    width: 30%;
}

#company .company-text p span{
    display: block;
    margin-top: 50px;
}

/* Colori logo compagnie e hover*/

#company-1{
    background-color: #a2d39b;
}

#company-1:hover{
    border: 10px solid #c7ffc0;
}

#company-2{
    background-color: #61082b;
}

#company-2:hover{
    border: 10px solid #a10e49;
}

#company-3{
    background-color: #0093ce;
}

#company-3:hover{
    border: 10px solid #40c9ff;
}

#company-4{
    background-color: #ff1c1c;
}

#company-4:hover{
    border: 10px solid #ff5f5f;
}

#company-5{
    background-color: #d5001f;
}

#company-5:hover{
    border: 10px solid #ff3453;
}

#company-6{
    background-color: #b4d0e7;
}

#company-6:hover{
    border: 10px solid #fcfeff;
}

#company-7{
    background-color: #0d2481;
}

#company-7:hover{
    border: 10px solid #2844b3;
}

#company-8{
    background-color: #ffd830;
}

#company-8:hover{
    border: 10px solid #ffeea3;
}

#company .company-link{
    padding: 150px 0px;
    background-color: #b4d0e7;
}

#company .company-link h2,
#company .company-link .clearfix div{
    float: left;
    
}

#company .company-link h2{
    width: 55%;
    margin-right: 15%;
    font-size: 40px;
    color: #61082b;
}

#company .company-link .clearfix div{
    width: 30%;
}

#company .company-link .clearfix .button{
    display: block;
    text-align: center;
    border: none;
}

/* Fine stile company */

/* Inizio stile faq */

#faq{
    margin-bottom: 150px;
}

#faq h3{
    font-size: 35px;
    padding-bottom: 50px;
    border-bottom: 1px solid lightgray;
}

#faq .row{
    border-bottom: 1px solid lightgray;
    padding: 30px 0px;
    cursor: pointer;
}

#faq .question{
    position: relative;
    top: 0;
    left: 0;
}

#faq .question p{
    font-weight: bold;
}

#faq .question i{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
}

#faq .question i.fa-chevron-up{
    display: none;
}

#faq .answer{
    display: none;
    margin-top: 30px;
    padding-right: 70px;
}

#faq .row:hover .answer{
    display: block;
}

#faq .row:hover i.fa-chevron-up{
    display: inline;
}

#faq .row:hover i.fa-chevron-down{
    display: none;
}

/* Fine stile faq */

/* Inizio stile footer */

footer{
    background-color: black;
    color: white;
    padding: 100px 0px;
}

footer .center-conteiner > *{
    margin-bottom: 40px;
}

footer .footer-box{
    float: left;
    width: 20%;
    padding-right: 30px;
    margin-bottom: 30px;   
}

footer .footer-box h4{
    font-size: 20px;
    margin-bottom: 20px;
}

footer .footer-box ul{
    list-style: none;
    margin-bottom: 30px;    
}

footer .footer-box ul li{
    margin-bottom: 10px;
}

footer .footer-box ul li a{
    color: white;
    text-decoration: none;
}

footer .footer-box ul li a:hover{
    text-decoration: underline;
}

footer .separation-line{
    border-color: white;   
}

footer .lang-selection{
    color: gray;
}

footer .lang-selection select{
    color: gray;
    background-color: transparent;
    border: none;
}

footer .lang-selection select option{
    color: gray;
    background-color: black;
    border: none;
}

/* Fine stile footer */
